:root {
	--vimium-font-family: -apple-system, Inter, system-ui;
	--vimium-font-size: 14px;
  --vimium-font-size-sm: 13px;

  --vimium-clr-bg-primary: #16161C;
  --vimium-clr-bg-secondary: #1A1C23;

	--vimium-clr-primary: #F09383;
	--vimium-clr-white: #FDF0ED;
  --vimium-clr-grey: #2E303E;

  --vimium-clr-url-primary: #1EAEAE;
  --vimium-clr-url-secondary: #21BFC2;
}

/* Hints */
.vimiumHintMarker {
  background: var(--vimium-clr-bg-primary) !important;
  padding: 4px 5px !important;
  border: none !important;
  box-shadow: none !important;
}

.vimiumHintMarker span {
	color: var(--vimium-clr-white) !important;
	font-family: var(--vimium-font-family) !important;
	text-shadow: none !important;
}

.vimiumHintMarker .matchingCharacter {
  opacity: 0.7;
}

.vimiumHintMarker .matchingCharacter ~ span {
	color: var(--vimium-clr-primary) !important;
}

/* Vomnibar */
#vomnibar {
  max-width: 700px;
	background-color: var(--vimium-clr-bg-primary);
	border: none;
	box-shadow: none;

  overflow: hidden;

  position: relative;
  margin-inline: auto;

  animation: show 200ms ease-in-out forwards;
}

.vomnibarSearchArea,
#vomnibarInput{
  background-color: transparent !important;
  box-shadow: none !important;

  color: var(--vimium-clr-white) !important;
  font-family: var(--vimium-font-family) !important;
  font-size: var(--vimium-font-size) !important;
}

.vomnibarSearchArea {
  padding: 10px 30px !important;
}

#vomnibarInput{
  padding: 0 !important;
}

#vomnibarInput::selection {
  background-color: var(--vimium-clr-primary);
  color: var(--vimium-clr-grey);
}

@keyframes show {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* list */
#vomnibar ul {
  background: var(--vimium-clr-bg-primary);

  margin: 0;
  padding: 0;
}

/* list items */
#vomnibar li {
  border-bottom: 1px solid var(--vimium-clr-grey);
  user-select: none;
}
#vomnibar li.vomnibarSelected {
  background-color: var(--vimium-clr-bg-secondary);
}

/* source */
.vomnibarSource {
  color: var(--vimium-clr-white) !important;
  font-family: var(--vimium-font-family) !important;
  font-size: var(--vimium-font-size) !important;

  opacity: .6 !important;
}

/* title */
.vomnibarTitle {
  color: var(--vimium-clr-white) !important;
  font-family: var(--vimium-font-family) !important;
  font-size: var(--vimium-font-size) !important;
}
.vomnibarTitle .vomnibarMatch {
  color: var(--vimium-clr-primary) !important;
}

/* url */
.vomnibarUrl {
  color: var(--vimium-clr-url-primary) !important;
  font-family: var(--vimium-font-family) !important;
  font-size: var(--vimium-font-size-sm) !important;
}
.vomnibarUrl .vomnibarMatch {
  color: var(--vimium-clr-url-secondary) !important;
}

/* HUD */
.vimiumHUD,
.vimiumHUDSearchArea,
#hud,
#hud-find-input {
  color: var(--vimium-clr-white) !important;
  font-family: var(--vimium-font-family);
  font-size: var(--vimium-font-size);

  background-color: var(--vimium-clr-bg-primary) !important;
  border: none !important;
  box-shadow: none !important;
}

#hud-match-count {
  opacity: .7;
}
